
try {
  $binRoot = "$env:systemdrive\"
  ### Using an environment variable to to define the bin root until we implement YAML configuration ###
  if($env:chocolatey_bin_root -ne $null){$binRoot = join-path $env:systemdrive $env:chocolatey_bin_root}
  $<%= @template[:name] %>InstallDir = join-path $binRoot '<%= @template[:name].capitalize %>'

  write-host "Chocolatey is installing <%= @template[:name] %>-<%= @template[:ver] %> to $<%= @template[:name] %>InstallDir"
  write-host "Please wait..."
  Start-sleep 3

  if (![System.IO.Directory]::Exists($<%= @template[:name] %>InstallDir)) {[System.IO.Directory]::CreateDirectory($<%= @template[:name] %>InstallDir)}
  $tempDir = "$env:TEMP\chocolatey\<%= @template[:name] %>"
  if (![System.IO.Directory]::Exists($tempDir)) {[System.IO.Directory]::CreateDirectory($tempDir)}
  $file =  join-path $tempDir ( "\<%= @template[:name] %>-<%= @template[:ver] %>-windows-x86.7z")
  $url = "<%= @template[:prg_url] %><%= @template[:name] %>/downloads/<%= @template[:name] %>-<%= @template[:ver] %>-<%= @template[:platform][:x86] %>"
  $checksum = '<%= @template[:chksm] %>'
  $url64 = "<%= @template[:prg_url] %><%= @template[:name] %>/downloads/<%= @template[:name] %>-<%= @template[:ver] %>-<%= @template[:platform][:x64] %>"
  $checksum64 = '<%= @template[:chksm64] %>'
  $checksumType = '<%= @template[:chksm_typ] %>'
  Get-ChocolateyWebFile '<%= @template[:name] %>' "$file" -url "$url" -url64bit "$url64" -checksum "$checksum" -checksum64 "$checksum64" -checksumType "$checksumType"

  if ($($env:Path).ToLower().Contains("<%= @template[:name] %>") -eq $false) {
    $env:Path = [Environment]::GetEnvironmentVariable('Path',[System.EnvironmentVariableTarget]::Machine);
  }



  write-host "Cleaning out the contents of $<%= @template[:name] %>InstallDir"
  Remove-Item "$($<%= @template[:name] %>InstallDir)\*" -recurse -force

  # 3. Extract the new SFX DevKit into the same <DEVKIT_INSTALL_DIR> that you just cleaned up.
  write-host "Extracting the contents of $file to $<%= @template[:name] %>InstallDir"
  #& 7za x -o"$<%= @template[:name] %>InstallDir" -y "$file"
  Start-Process "7za" -ArgumentList "x -o`"$<%= @template[:name] %>InstallDir`" -y `"$file`"" -Wait

  # 4. Review your config.yml file to ensure it contains the root directories of all the installed Rubies you want enhanced to use the DevKit.
  Write-Host "You may want to configure your config.yml after this installation and rerun 'cinst ruby.devkit' if the defaults do not meet your needs"
  Start-Sleep 1
  # 5. From a Command Prompt, cd into the <DEVKIT_INSTALL_DIR> directory and run <%= @template[:name] %>_rt admin install to install uru and <%= @template[:name] %>_rt admin add system to add any system ruby into <%= @template[:name] %>
  Write-Host "Initializing and installing DevKit into Ruby."
  cd $<%= @template[:name] %>InstallDir
  & <%= @template[:name] %>_rt admin install
  & <%= @template[:name] %>_rt admin add system

  Write-ChocolateySuccess '<%= @template[:name].capitalize %>'
} catch {
  Write-ChocolateyFailure '<%= @template[:name].capitalize %>' "$($_.Exception.Message)"
  throw
}


