<?xml version="1.0" encoding="utf-8"?>
<package xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <metadata>
    <id><%= @template[:name].capitalize %></id>
    <title><%= @template[:name].capitalize %> Ruby Version Manager</title>
    <version><%= @template[:ver] %></version>
    <authors><%= @template[:authors].join(',') %></authors>
    <owners><%= @template[:owners].join(',') %></owners>
    <summary>
    <%= @template[:name].capitalize %> - A multiplatform Ruby Version manager - <%= @template[:prg_url] %><%= @template[:name] %>
    </summary>
    <description>
      <%= @template[:name].capitalize %> is a lightweight, multi-platform command line tool that helps you use the multiple rubies (currently MRI, JRuby, and Rubinius) on your 32/64-bit Linux, OS X, or Windows systems.
    </description>
    <projectUrl><%= @template[:prg_url] %><%= @template[:name] %></projectUrl>
    <tags>Ruby ruby2 Version_Manager <%= @template[:name] %></tags>
    <licenseUrl><%= @template[:prg_url] %><%= @template[:name] %>/src/2f88e78f1e93d6e3739e5e725faffcad418db4b7/LICENSE</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <dependencies>
      <% @template[:dependencies].each do |dependency| %><%="<dependency id=\"#{dependency}\" />" %><% end %>
    </dependencies>
  </metadata>
  <files>
    <file src="tools\**" target="tools" />
  </files>
</package>
<!-- character encoding: “UTF-8” -->
